# Fixing up a house in Louisiana

I think there are a lot fewer laws than in NYC, but it's (probably) tough.

**Topics:**

* PDF to CSV
* Secret APIs
* Scraping or regex
* Data cleaning

## Arborists `4 points`

If you need someone to cut down a tree, you might need an arborist!

* Fortunately, Louisiana has [a list of them](https://www.ldaf.state.la.us/ldaf-programs/horticulture-programs/louisiana-horticulture-commission/).
* Unfortunately [it's a PDF](http://www.ldaf.state.la.us/wp-content/uploads/2021/08/ARL-LIST-080421.pdf).

### Convert the PDF to a CSV file or dataframe

In [23]:
import camelot
import pandas as pd
import re

In [2]:
tables = camelot.read_pdf('http://www.ldaf.state.la.us/wp-content/uploads/2021/08/ARL-LIST-080421.pdf', flavor='stream', pages='1-end')

In [3]:
pages = [table.df for table in tables]
df = pd.concat(pages,ignore_index=True)

In [4]:
df.head(10)

,0,1,2,3,4,5
0,,,ARBORIST,,,
1,,The Louisiana Horticulture Law states that no ...,,,,
2,,"appropriate license or permit, or is employed ...",,,,
3,required to place at least one of their licens...,,,,,
4,Arborist License,,,,,
5,,Authorizes the holder to make recommendations ...,,,,
6,,specifying work to be done and sum to be paid....,,,,
7,,,This list will be updated periodically. If you...,,,
8,Parish,Name,Bus Phone\nPlace of Business,City,St,Zip
9,Acadia,"BROUSSARD, LISA C",(337) 783-9390 GERALD'S LANDSCAPE & LAWN SERVI...,MORSE,LA,70559

In [5]:
cleandf = df[8:]
cleandf.reset_index()

,index,0,1,2,3,4,5
0,8,Parish,Name,Bus Phone\nPlace of Business,City,St,Zip
1,9,Acadia,"BROUSSARD, LISA C",(337) 783-9390 GERALD'S LANDSCAPE & LAWN SERVI...,MORSE,LA,70559
2,10,Acadia,"DUPRE, ADAM ANTHONY",(337) 580-1021 ADTEK ENTERPRISES LLC,IOTA,LA,70543
3,11,Acadia,"HARGRAVE, DOUGLAS LEON",(337) 523-6123 DOUGLAS HARGRAVE,IOTA,LA,70543
4,12,Acadia,"LELEUX, CHARLOTTE R",(337) 784-0035\nLELEUX'S CUT & HAUL LLC,CROWLEY,LA,70526
...,...,...,...,...,...,...,...
635,643,West Baton Rouge,"PREJEAN, JEREMY PAUL",(225) 445-5568 MARMAK ENTERPRISES LLC,PORT ALLEN,LA,70767
636,644,West Carroll,"HARRISON, JACOB GLENN",(318) 884-6011 HARRISON TREE SERVICE,OAK GROVE,LA,71263
637,645,West Feliciana,"SPINKS, JAMES T","(225) 635-3840 SPINKS CONSTRUCTION, INC.",ST. FRANCISVILLE,LA,70775
638,646,Winn,"ALLEN, DON",(318) 268-1565 DON ALLEN LOGGING,BRADLEY,AR,71826
639,647,Winn,"NICHOLS, FREDERICK RONDELL",(318) 648-9142 NICHOLS SERVICES LLC,WINNFIELD,LA,71483

In [6]:
cleandf.columns = cleandf.iloc[0]
cleandf = cleandf[1:]
cleandf.reset_index()

8,index,Parish,Name,Bus Phone\nPlace of Business,City,St,Zip
0,9,Acadia,"BROUSSARD, LISA C",(337) 783-9390 GERALD'S LANDSCAPE & LAWN SERVI...,MORSE,LA,70559
1,10,Acadia,"DUPRE, ADAM ANTHONY",(337) 580-1021 ADTEK ENTERPRISES LLC,IOTA,LA,70543
2,11,Acadia,"HARGRAVE, DOUGLAS LEON",(337) 523-6123 DOUGLAS HARGRAVE,IOTA,LA,70543
3,12,Acadia,"LELEUX, CHARLOTTE R",(337) 784-0035\nLELEUX'S CUT & HAUL LLC,CROWLEY,LA,70526
4,13,Acadia,"MOUTON, MARY LOUISE",(337) 250-0226\n DARBY'S TREE SERVICE,CHURCHPOINT,LA,70525
...,...,...,...,...,...,...,...
634,643,West Baton Rouge,"PREJEAN, JEREMY PAUL",(225) 445-5568 MARMAK ENTERPRISES LLC,PORT ALLEN,LA,70767
635,644,West Carroll,"HARRISON, JACOB GLENN",(318) 884-6011 HARRISON TREE SERVICE,OAK GROVE,LA,71263
636,645,West Feliciana,"SPINKS, JAMES T","(225) 635-3840 SPINKS CONSTRUCTION, INC.",ST. FRANCISVILLE,LA,70775
637,646,Winn,"ALLEN, DON",(318) 268-1565 DON ALLEN LOGGING,BRADLEY,AR,71826
638,647,Winn,"NICHOLS, FREDERICK RONDELL",(318) 648-9142 NICHOLS SERVICES LLC,WINNFIELD,LA,71483

In [7]:
finaldf = cleandf[cleandf['Parish'] != '08/04/2021']

In [8]:
finaldf.to_csv('arborists.csv')

### Get me a list of every arborists in Shreveport

In [9]:
finaldf['Name'].sort_values().unique()

array(['ABBOTT, DAVID EUGENE', 'ADAMS, JOHN C', 'ADAMS, NATHAN B',
       'ALEGRIA JR, ANDRES ABELINO', 'ALELLO, MATTHEW PAUL',
       'ALLEN JR, JACK E', 'ALLEN, DERRICK S', 'ALLEN, DON',
       'ALUGAS, EURICKA LOWE', 'ALVAREZ, ANDER J',
       'ANDERSON, ANGELA DENISE', 'ANTHONY JR, TED WAYNE',
       'ATKINS III, REGINALD B', 'ATKINS JR, REGINALD B',
       'ATKINS, RANDALL KENNON', 'ATKINS, SANDRA B',
       'AUCOIN, BRIAN JASON', 'AUDIRSCH, JOSEPH MICHEAL',
       'AUTHEMENT, KATIE LYNNE', 'AYRES, LOYE STILLMON',
       'BABIN, CARL ANTHONY', 'BADON, MARK JASON', 'BAKER, DONALD J',
       'BALLARD JR, JIMMIE LANE', 'BALLARD, ERIC D', 'BANNON, DAVID C',
       'BARBER, KELLEY R', 'BARRETT JR, ANTHONY T', 'BARRON, JACK E',
       'BARZE SR, SYMENTRIC L ANTHONY', 'BATES, HOUSTON JAKE',
       'BATSON, MICHELE', 'BATTY JR, JAMES N', 'BEENE, GREGORY WADE',
       'BELLANGER, RAY JOSEPH', 'BELLINGTON, JEFFERY JOHN',
       'BENNETT, BRETT R', 'BENNETT, DAARON DAURAY',
       'BENOIT, DANIEL JAMES', 'BENTON, DAVID MARCUS',
       'BENTON, TIMOTHY MICHAEL', 'BERGERON II, DREYCEN GUY',
       'BERGERON, RYAN PAUL', 'BERTEL, JOHN CHARLES', 'BILLIOT, SETH',
       'BILLON, ANDREW THOMAS', 'BISHOP, MICHAEL JOHN',
       'BIVIN, GREGORY S', 'BIVONA, SCOTT CHRISTOPHER',
       'BLANKENSHIP, RANDALL LEVI', 'BLOCKER, TREY CLINTON',
       'BLUM, JESSICA L', 'BOESCH JR, MARIO F',
       'BOFINGER III, GEORGE WARREN', 'BOFINGER, THOMAS D',
       'BOLTON III, DONALD RAY', 'BOOK, MOLLY ANN',
       'BORDELON SR, TRAVIS DEAN', 'BORSKEY, WOODROW',
       'BOUDREAUX, DIANE MARIE', 'BOULANGER, RENALD J',
       'BOURGEOIS III, CAMILLE EDGAR', 'BOURGEOIS, JAMES HONORE',
       'BOURGEOIS, SAMUEL', 'BOYTER JR, DAVID', 'BRADSHAW, JOHN E',
       'BRAY, BOBBY NORMAN', 'BREVELLE, TODD JOSEPH',
       'BRISTER, DUSTIN  LONIS', 'BROOKINGS, LANCE KEITH',
       'BROUSSARD III, HOWARD LOUIS', 'BROUSSARD, BILLY TORRES',
       'BROUSSARD, LISA C', 'BROWN, BRON COLLINS', 'BROWN, LAWRENCE',
       'BROWN, THOMAS', 'BROWN, WALTER THOMAS', 'BRYAN, LARRY STEVEN',
       'BRYDELS JR., LEON  BERNARD', 'BRYER JR, ROBERT E',
       'BUCHBAUM JR, ABBOTT J', 'BURGE, PAUL D', 'BURKES, WILLIAM B',
       'BURKETT, VIRGINA ROSE', 'BURTCHAELL, ALAN P', 'BUSBY, COLTON E',
       'BUTLER, FRANK GRAY', 'BUTLER, PAUL DAVID', 'BUTT, ALEXANDER RYAN',
       'BYNOG, HAMILTON WILLIAM', 'CAGE, TROY S', 'CALLES, LUIS A',
       'CAMPBELL, CHAD EDWARD', 'CAMPBELL, ERIN HOPE',
       'CAMPBELL, KIRSTINE G', 'CAMPBELL, THOMAS BROUGHER',
       'CAMPER, LAURA P', 'CANNON, NARY P', 'CARPENTER JR, DEWITT LEE',
       'CARRAWAY, SCOT TALMADGE', 'CARVILLE, WELLS GRIFFON',
       'CASANOVA, CATHERINE MARIE', 'CASERTA, DONALD D',
       'CASERTA, JOSEPH', 'CASSELBERRY, ADAM B', 'CATOIRE, TINA ROY',
       'CHARLES, ANDREW WAYNE', 'CHARVET, MICHELLE', 'CHESSER JR, GENE',
       'CHINA, KYLE SADAO', 'CHOQUETTE, DAN P', 'CLARK, MEJIA DANIELLE',
       'CLAVIJO, GWYNNE CLEMONS', 'CLEMENT JR, DALE A', 'COKER, JAMES A',
       'COLLINS, CYNTHIA JEAN', 'CONWAY, JONATHAN RAY',
       'COOPER JR, DONALD GREG', 'COOPER, TYLER PAUL', 'CORMANE, JOHN T',
       'CORPRUE, MARLON LATRAWN', 'COTTER, MICHAEL F',
       'COURTRIGHT, DAVID', 'COVINGTON, LAMAR WADE',
       'CRAFT, WILLIAM CORY', 'CRAIGHEAD, TERRY RENE', 'CRAIN, JOHN E',
       'CRAWFORD, KAREN PATRICIA', 'CRAWFORD, KEVIN WAYNE',
       'CREEL, BENJAMIN N', 'CROCKETT, TODD', 'CRUSE, JACOB A',
       'CULPEPPER, JAMES L', 'DABNEY SR, FREDERICK L',
       'DAIGRE, PATRICK C', 'DAILEY, DWAYNE PAUL',
       'DALCOURT JR, NOLTON J', 'DARBONNE, TODD JOHN',
       'DARENSBOURG, HUNTER MARK', 'DAVENPORT, TIMOTHY',
       'DAVIS, BARRY WAIN', 'DAVIS, JEFFERY J', 'DAVIS, RICHARD L',
       'DAVIS, SHANNON WOMACK', 'DAVIS, TRAVIS LAMAR', 'DECELL, DONALD P',
       'DEDON, JONATHAN EDWARD', 'DEDON, THOMAS OREN',
       'DELHOMMER, CURT TRAVIS', 'DENMON, ROY DOUGLAS',
       'DENNIS III, EVARIST J', 'DENNIS, MARK W', 'DENNIS, MICHAEL GLENN',
       'DEROUSSEL, JAMES', 'DESCANT, SETH D', 'DESHOTEL, JOSHUA LANE',
       'DESHOTEL, SCOTT RAY', 'DIAL, GERALD', 'DIGBY, SHAWN MICHAEL',
       'DOMANGUE, CHAD MICHAEL', 'DOSKEY, DARRIN P',
       'DOWDY, PRISCILLA ANN', 'DREILING, MATHEW M', 'DUFOUR, JOSEPH W',
       'DUFRENE JR, RONALD JOSEPH', 'DUGAS, CHRISTOPHER DAVID',
       'DUGAS, MICHAEL LANE', 'DUHON, RYAN SIMON', 'DUNN, JAMES L',
       'DUNN, RICHARD CARL', 'DUPLECHIAN, KIMBERLY A',
       'DUPRE, ADAM ANTHONY', 'DUPREE, DONALD BRITAIN',
       'DUPUIS, PEGGY ANN', 'DUPUY, ANTHONY THOMAS',
       'EARNHEART, MICHAEL GEORGE', 'EATON, ELLIS CARLTON',
       'EATON, JOHN V', 'EAVES, JAMES S', 'EDMUNDSON, MATTHEW DANIEL',
       'EFFERSON, MARVIN EDWARD', 'EGGLESTON, JAMES KELLEY',
       'EICKENBUSH JR, ROBERT FRANK', 'ELSTROTT, RANDOLPH JOHN',
       'ENGLERTH, MICHAEL C', 'ERFLE, JACOB LEE', 'ESTES, TAYLOR O',
       'FABRE, BLAKE DANIEL', 'FABRE, CHRIS JUDE', 'FABRE, SHERRY D',
       'FALLAS, JOSEPH ALBERT', 'FARRELL, CHRISTOPHER ROBERT',
       'FARRELL, REUBEN', 'FAUL, ANDY JOSEPH', 'FAUL, DAVID E',
       'FEE, ROBERT ARNOLD', 'FELLNER, FREDERICK',
       'FERGUSON III, CARL SAMUEL', 'FERGUSON, JACOB DUTCH',
       'FERGUSON, LARRY WAYNE', 'FIGLIO, GREGORY MICHAEL',
       'FINDLEY, DAVID LAVON', 'FIRMIN, RONALD', 'FLOYD JR, MARTY ROY',
       'FLOYD, SCOTTIE W', 'FOCARDI, JEFF P', 'FOLSE, DAVID MICHAEL',
       'FONTENOT, BRYAN J', 'FORD, EMILY ANNE', 'FOREMAN, AARON SCOTT',
       'FORET JR, JAMES A', 'FORET, RYAN BROOKS', 'FOSTER JR, ANTHONY V',
       'FOX, JASON MARK', 'FRANK, SHANAMEEKA S', 'FROSSARD, DAVID',
       'FROUST, TRAVIS B', 'FRUGE, GEORGE EDWARD',
       'FUNDERBURK, FRANKLIN LYDELL', 'FUNDERBURK, STEVEN MATTHEW',
       'FUQUA, JEFFREY DAVID', 'FUZZELL JR, JOSEPH TODD',
       'GADOLA, WILLIAM ANTHONY', 'GARDNER, DAVID WAYNE',
       'GARFIN, KRIS JAMES', 'GARVIN, TODD D', 'GATES, RICHARD DAVID',
       'GIANELLONI, BRETT JOSEPH', 'GIBBS, JEFFREY', 'GIBBS, TIMOTHY B',
       'GILCHRIST, ALVAH E', 'GILMORE JR, JAMES E', 'GINYARD, JEROME',
       'GLASS, GEORGE L', 'GONZALES III, FREDERIC', 'GORDON, BENHAIL U',
       'GORDON, ROBERT W', 'GOREE, JOEY LYNN', 'GRANGER, JOSHUA NEIL',
       'GRAVER, CODY MICHAEL', 'GREEN, DANIEL G', 'GREEN, DARREN R',
       'GREEN, ROBIN RHODES', 'GREENE, BOYD OWENS', 'GREENFIELD, SCOTT G',
       'GREGORY, EARL JAMES', 'GREGORY, STEVEN TODD', 'GREGORY, VERNON',
       'GRIFFIN, JOHN WADE', 'GRIGOR, ORVILLE TODD',
       'GUARISCO JR, JOHN F', 'GUIDRY, DEAN L', 'GUIDRY, DOUGLAS M',
       'GUIDRY, MALCOLM M', 'GUMPERT JR, RAY L', 'HALE, LESLIE',
       'HAMILTON, BRADLEY D', 'HAMILTON, VICKI L',
       'HAMMONTREE, COURTNEY LYNN', 'HANDY SR, GEORGE A',
       'HARGRAVE, DOUGLAS LEON', 'HARLAMERT, SCOTT R',
       'HARMON, GREGORY ARNOLD', 'HARRELL, BRUCE ROVETT',
       'HARRIS, CHRISTOPHER B', 'HARRISON, JACOB GLENN',
       'HARVEY, CHRISTOPHER WELLS', 'HARVEY, JASON RUSSELL',
       'HAYES JR, EARNEST', 'HAYS, DARRIUS MARCEL', 'HAZARD JR, ROBERT W',
       'HEAP, HOLGER FASTING', 'HEARD, ELMER KEN', 'HEBERT, JOHN PIERRE',
       'HEBERT, JUDE', 'HEINE, CALEB ROBERT', 'HENRY, LUTHER M',
       'HERMAN, BRENT ALLEN', 'HERRING, SALLY J', 'HIGDON, JACOB L',
       'HILL, BRANDON E', 'HOBBS II, JOHN MICHAEL', 'HOBBS, JUSTIN LEE',
       'HOFFPAUIR, DARWIN KEITH', 'HOLLOWAY, J MARIO', 'HOLMES, AMY M',
       'HOLTZCLAW, SILAS STEVEN', 'HOOVER, STEVEN WILLIAM',
       'HORTON, SCOTT LEE', 'HOUSE, SHANNON C', 'HOVEY, JULIAN R',
       'HUFF, COREY DALE', 'HUFFT, CHAD M', 'HUHN-JOHANSEN, NANCY CARAL',
       'HUNT, TAYLON T', 'HUNTER, JOHN MEAD', 'HUTCHINSON, CLINTON HOYT',
       'ILLG, DANIEL JOSEPH', 'IMPSON, JASON ALLEN', 'IRBY, DONALD LYNN',
       'JACKSON, DAVID MICHAEL', 'JAMERSON, JEREMY LEN',
       'JARRELL, MARK ADAM', 'JARRELL, RICKY G', 'JENNINGS, MICHAEL M',
       'JIMENEZ, BLANCA', 'JIMENEZ, ROBERT J', 'JOHNSON, ALLAN RONALD',
       'JOHNSON, ANDREA', 'JOHNSON, JOANN S', 'JOHNSON, MELVIN',
       'JONES IV, BENJAMIN OSWALD', 'JONES, ADAM R', 'JONES, DAVID J',
       'JONES, GARRY ALLEN', 'JORDAN JR, HOMER', 'JOYCE, TAYLOR PAUL',
       'JUDERMAN, JOHN J', 'JUGSUJINDA, ISSARA', 'JUNEAU JR, GASTON',
       'JUNEAU, RYAN BLAKE', 'JUTTNER, ADRIAN S',
       'KAHLMUS, FREDERICK BENJAMIN', 'KAUFMAN, MARTIN K',
       'KAY, DONALD CHRISTOPHER', 'KAY, STEVEN WESLEY',
       'KELLEY, DENNIS RAY', 'KELLEY, TERRY DUANE', 'KENNEDY, ALVIN J',
       'KENNEDY, CHARLES JEREMY', 'KERSHENSTINE, ADAM MILES',
       'KIDDER, STERLING JOSEPH', 'KING, ANTHONY LAMARR',
       'KINGREY, SCOTT MITCHELL', 'KIRKHAM, JEFF J',
       'KIRKLAND, JONATHAN DAVID', 'KNIGHT, LUTHER', 'KNIGHT, MICHAEL T',
       'KOJIS, BENJAMIN STEVEN', 'KOZLOWSKI, STOSH A', 'LACOMBE, DUSTY P',
       'LACOUR III, DELMAYNE LEO', 'LACOUR, ROCK AMBROSE',
       'LAFITTE, JOHN E', 'LAGRONE, TILGHMAN JAMES',
       'LAMKIN, JEREMY LANCE', 'LANCON, JOHN A', 'LAND, RYAN SHAUN',
       'LANDRY, BROCK STEVEN', 'LANE, SCOTT E', 'LAPER, GENTRY MICHAEL',
       'LATOUR, LANDRY MARK', 'LEBLANC, EDMOND H',
       'LEBOEUF, ANDY ANTHONY', 'LEDESMA JR, JOSE',
       'LEDGER, WILLIAM VICTOR', 'LEE, KEVIN L', 'LELEUX, CHARLOTTE R',
       'LEMEUR, JOHN A', 'LEMOINE, MALCOLM J', 'LEONARD JR, DAVID C',
       'LIGHTFOOT, AMANDA JANE', 'LIGHTFOOT, STEPHEN H',
       'LINDSEY, BILLY R', 'LINER, KIEFER L', 'LITTLE JR, WILLIAM O',
       'LITTON, KENNETH WAYNE', 'LITTON, THOMAS L', 'LOUP, RANDY M',
       'LOUVIERE, LOGAN M', 'LUKE, DAVID ANTHONY', 'MADDOX, JOHN CULLEN',
       'MADRIGAL, HARVEY R', 'MAGEE, PATTI P', 'MAILHOS, MICHAEL E',
       'MANCUSO, DALE ROBERT', 'MARCHESE, STEPHEN A', 'MARSHALL, JOHN',
       'MARTIN, DANIEL PATRICK', 'MARTINEZ, PAULA SUE',
       'MASON JR, KENNETH ELI', 'MATTEI, ROGER LEE',
       'MAYLEN, RAYMOND LOUIS', 'MCCALL, DENNIS RANDEL',
       'MCCONNELL JR, CEASAR', 'MCCRACKEN, KEVIN M',
       'MCCRANEY JR, EDDIE JAMES', 'MCCUTCHEON, ROBERT L',
       'MCGEHEE, JAKE E', 'MCINNIS III, WILLIAM WELDON',
       'MCKENNEY, ERIC MICHAEL', 'MCKENZIE, TRISHA A',
       'MCLACHLAN, ANDREW T', 'MCLELLAN, EDWARD A',
       'MCMULLEN, HERBERT ROSS', 'MCNAIR, JAMES DALE',
       'MEAUX JR, JIMMIE J', 'MENARD, DENISE M', 'MERCER, MARC EDWIN',
       'MESSINA, COREY P', 'MEYER, JULIE BABIN', 'MEYER, ROBERT DONALD',
       'MEYERS, KENNETH ROBERT', 'MICHEL, STEPHEN CHARLES',
       'MILLER, CASEY DALE', 'MILLER, DEVIN KYLE', 'MILLER, JOSEPH L',
       'MILLER, MATTHEW ROSS', 'MILLER, WAYNE EDWARD',
       'MILLET, ROUSSEL A', 'MILLIGAN, KEVIN WOODROW', 'MISNER, DANIEL',
       'MITCHELL, MICHAEL', 'MONCEAUX, AARON JOSEPH', 'MONTGOMERY, JAMIE',
       'MOON, BENJAMIN O', 'MORALES, REBECCA LYNN', 'MORGAN, MARK J',
       'MORRIS, ARTHUR', 'MORSE, DILLON WADE', 'MOUSA, ABEDALHADI D',
       'MOUTON, MARY LOUISE', 'MUDGE, JESSIE E', 'MUDGE, ROSS T',
       'MULLETT, BURRELL EUGENE', 'MULLIN JR, CHARLES M',
       'MULLINS, CHARLIE EDWARD', 'MUMFORD, ALAN',
       'MUNGER, CHRISTOPHER LLOYD', 'MUNHOLLAND, LENA JO',
       'MUSOLINO, CHRISTOPHER CHARLES', 'NAQUIN, JOSH JOSEPH',
       'NASELLO, JOSEPH', 'NEAMES, KEYNON L', 'NETHERLAND, TUESDAY',
       'NEVILS, MIKE  ADAM', 'NEZAT, MICHELLE B',
       'NICHOLS, FREDERICK RONDELL', 'NUGENT, RODNEY HEATH',
       "O'CONNOR, MICHAEL PATRICK", "O'REGAN, DAVID L",
       'OLIVER, DONALD MAURICE', 'OLIVIER, DOMINIQUE R',
       'OLIVIER, RANDALL JAMES', 'ORE, MISTY GAYLE',
       'ORTEGO, JEREMY MICHAEL', 'ORTIZ, SALVADOR',
       'PADGETT JR, RONALD NEIL', 'PADILLA, KARINA ABIGAIL',
       'PAGUADA, OSMAN FERNANDO', 'PARKER, SETH THOMAS', 'PARR, DAVID M',
       'PARSON, BRIAN JASON', 'PATRICK, RANDY J', 'PAUL, JOSEPH ERIC',
       'PEARSON JR, CULTUS OWEN', 'PEARSON, DAVID N', 'PERRY, JOHN M',
       'PETRE, DOMINIC M', 'PICARD, TY GARIT', 'PICOU, PHILLIP BRANDON',
       'PIERRE, LISA L', 'PINKNEY, COUNTVET DONDELEON',
       'PITRE, MITCHELL J', 'PITTMAN, WILLIE MARK', 'PONSETI, MATTHEW H',
       'POOLE IV, ROBERT LADSON', 'PREJEAN, JEREMY PAUL',
       'PRESTRIDGE, JOSHUA D', 'PRINE, DENNIS S', 'PRUITT, REBEKAH GRACE',
       'QUINTERO, DESY', 'REED, PATRICK R', 'REED, RUSSELL J',
       'REED, STEVE ALLEN', 'REEDER, DONNA JOLYNN', 'REGGIO, MICHAEL M',
       'REID, JEFFERY L', 'REILMAN, PAUL JOSEPH', 'RENTZ, WESLEY JOHN',
       'RICHARDS, ROBERT P', 'RICHARDSON, PHILLIP K',
       'RICHMOND, AMBERLE MARIE', 'RICHMOND, SHERIE NICOLE',
       'RICKETTS, KRIS D', 'RIDENOUR, DAVID L', 'RIDGE, NATHAN PAUL',
       'RIPLEY, DONALD R', 'RITCHIE, MELVIN RAY', 'RIVAS, LUIS ALBERTO',
       'ROANE III, ROBERT EDWARD', 'ROBERTSON, TERRY R',
       'ROBICHEAUX, DOUGLAS PAUL', 'ROBINS JR, KELVIN HAYES',
       'ROBINS SR, KELVIN HAYES', 'ROBINS, SAMUEL COY',
       'ROBINS, STEVEN PAUL', 'RODRIGUE, JACK MICHAEL',
       'RODRIGUES, GERARD D', 'RODRIGUEZ, SHERRY',
       'ROGERS II, ROBERT LEE', 'ROSS, RONNIE ONEAL', 'ROSSO, SAM CARTER',
       'ROUSE, LEE T', 'RUFFIN, THOMAS JAY', 'RUSHING, ANDREW SCOTT',
       'RUTLAND, CHRIS D', 'SAMSON, JOHN ANDREW',
       'SANTOS JR, HENRY WILLIAM', 'SAWYER, DOUGLAS MARTIN',
       'SCHAYOT, CHESTON TYLER', 'SCHENK, CAIN W',
       'SCHROEDER, THANE CRUTHER', 'SCHUETTE, MATTHEW JOSEPH',
       'SCRIVNER, STEVEN RYAN', 'SEALS, RANDY W', 'SEEMANN, ROBERT L',
       'SERIGNY, RUSSELL A', 'SERMONS, MATTHEW DAVID',
       'SEXTON, HEATH AARON', 'SHADDINGER, MARK A',
       'SHAMBURGER, CHRISTOPHER WILLIAM', 'SHEPHERD, CLIFFORD SHAWN',
       'SHEPPARD, DAVID WAYNE', 'SHOCKEY, STEVE CLEO',
       'SIGUR JR, PATRICK FRANCIS', 'SIMON, KARL  JOHN',
       'SIMPSON, STEVEN PARKER', 'SIMS, KENNETH M', 'SINGLETARY, KYLE R',
       'SINGLETARY, REBECCA LYNN', 'SKAVRON, RYAN MATTHEW',
       'SLAYDON, CHESTER LEE', 'SMITH  , CLEVELAND D',
       'SMITH JR, CHARLES ELWYN', 'SMITH, DAVID L', 'SMITH, KEVIN D',
       'SMITH, TIMOTHY R', 'SNOW III, BARNEY HOUSTON', 'SONA, SHAD JC',
       'SOULTER, KENNETH DEWAYNE', 'SPINDEL JR, RICHARD JAMES',
       'SPINKS, JAMES T', 'ST PIERRE, BENJAMIN M', 'ST ROMAIN, MARVIN J',
       'STANSBERRY, LANCE D', 'STANSBERRY, LEE CHRISTOPHER',
       'STEWART JR, BOBBY W', 'STORY, CLIFTON A',
       'STRECKER, ERIC MICHAEL', 'STRICKLIN, MICHAEL A',
       'STROUSE, SHANE E', 'SULLIVAN, RICHARD BLAKE',
       'TADLOCK, KENNETH RAY', 'TAUBIN, KEITH LYLE',
       'TAYLOR, CHARLES EDWARD', 'TAYLOR, DAVID JOHNSTON',
       'TCZAP JR, ANDREW', 'THIBODEAUX, ANTHONY', 'THIBODEAUX, ROBERT R',
       'THIBODEAUX, SHANNON T', 'THIBODEAUX, SHAWN ALLEN',
       'THOMAS, BRIAN SCOTT', 'THOMAS, TIMOTHY LUTHER',
       'THOMAS, WILLIAM CHASE', 'THOMASSON, ROBERT H',
       'THOMPSON III, CHESTER', 'THORNHILL, MICHAEL B',
       'THORNTON, WILLIAM JACOB', 'TINN, JEREMY', 'TOBIN, TONY ANDREW',
       'TOSTON SR, PETE E', 'TOURNIER, MARK IVY', 'TRAHAN, DAVID WAYNE',
       'TRAHAN, ERIC J', 'TREJO, JESUS', 'TRICHE, CHARLES AIREN',
       'TROYANI, MICHAEL LYNN', 'TUBRE, BRIAN M', 'TUBRE, MATTHEW ADAM',
       'TULLIER, BLANE A', 'TULLIS, JERRY RANDALL',
       'TUMMINELLO, THAD ESTES', 'VACCARO, NITA A',
       'VALADEZ-CHAVEZ, ZULEM A', 'VALLERY, JOEL P',
       'VAUGHN, SIDNEY JOSEPH', 'VINCENT, RICKY M', 'VINES, JAMES LYNN',
       'VIOLET, ROBERT J', 'VON KURNATOWSKI, ZEFFERINO CAPITANI',
       'WALKER, H WAYNE', 'WALKER, JEREMY LAYNE', 'WALLS, TYLER DAVID',
       'WALSTEN, WILLIAM OWEN', 'WARLICK, GARY ALAN', 'WARNER, MORGAN',
       'WASCOM, JEREMY CHAD', 'WATKIN, JOSHUA J',
       'WATKINS, LUCAS MATTHEW', 'WELBORN, KRAIG A', 'WHITE, LAVON',
       'WHITE, RICHARD L', 'WHITTLE III, JESSIE', 'WHITTLE, JUSTIN RAY',
       'WIENER, ROBERT JAY', 'WILLIAMS JR, RICHARD REINECKE',
       'WILLIAMS, GAYLAN DANIEL', 'WILLIAMS, SAMMUEL BLAINE',
       'WILLIS JR, KENNETH ROBERT', 'WILSON, JOSEPH CALEB',
       'WILSON, MICHAEL LORIN', 'WILSON, MICHAEL ROBERT',
       'WISNOWSKI, BERNARD S', 'WOHLERT, GREGORY', 'WOOD, JOSHUA CHAD',
       'WOODSON, STEVE', 'WOODWARD, JERRY C', 'WOODWORTH, WAYNE P',
       'WRIGHT JR, ROMEY ACE', 'YOUNG, ANTONIO', 'YOUNG, BILLY D',
       'ZEIGLER, DONNA HEAP', 'ZEIGLER, FREDERICK DENORRIS',
       'ZEIGLER, KATELYN ELIZABETH', 'ZEIGLER, KOREY MICHAEL',
       'ZEIGLER, SEAN TODD', 'ZEIGLER, TIMOTHY HODGE', 'ZITO, CECIL W'],
      dtype=object)

## Contractors `2 points`

We skipped the arborists and tore down the tree. Unfortunately it landed on our house! So now we need a contractor to fix it up. Luckily there's an [easy contractor search page](https://lslbc.louisiana.gov/contractor-search/search-type-contractor/) on the Louisiana governemnt website.

### Get me a list of all residential roofing contractors

Convert it to a dataframe, save it as a CSV. Note that you **won't be scraping** for this one. You might *start* it as scraping, but you'll find an API.

In [10]:
import requests

cookies = {
    '__wpdm_client': 'f3fe9a403ef29b3eab65e52b6a8523dc',
    '_ga': 'GA1.2.642528063.1630955302',
    '_gid': 'GA1.2.177540430.1630955302',
    'PHPSESSID': 'ed890e49ef89d4cc2ecf3ef7867e0df7',
}

headers = {
    'User-Agent': 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:91.0) Gecko/20100101 Firefox/91.0',
    'Accept': 'application/json, text/javascript, */*; q=0.01',
    'Accept-Language': 'pt-BR,pt;q=0.8,en-US;q=0.5,en;q=0.3',
    'X-Requested-With': 'XMLHttpRequest',
    'Alt-Used': 'lslbc.louisiana.gov',
    'Connection': 'keep-alive',
    'Referer': 'https://lslbc.louisiana.gov/contractor-search/search-type-contractor/',
    'Sec-Fetch-Dest': 'empty',
    'Sec-Fetch-Mode': 'cors',
    'Sec-Fetch-Site': 'same-origin',
    'TE': 'trailers',
}

params = (
    ('api_action', 'advanced'),
    ('contractor_type', 'Residential License'),
    ('classification', '3966,3971'),
    ('action', 'api_actions'),
)

response = requests.get('https://lslbc.louisiana.gov/wp-admin/admin-ajax.php', headers=headers, params=params, cookies=cookies)

In [11]:
df = pd.DataFrame.from_dict(response.json()['results'])

df

,city,company_name,id,qualifying_party,state
0,Baton Rouge,"A. S. Gomez, Inc.",259104,None,LA
1,Houston,"Acadian Roofing, LLC",298888,None,TX
2,BATON ROUGE,AGR Construction LLC,283441,None,LA
3,Covington,"ALL AROUND ROOFING, LLC",293664,None,LA
4,Baton Rouge,Alvarez Roofing L.L.C.,242739,None,LA
...,...,...,...,...,...
81,Baton Rouge,"V & V Roofing & Sheet Metal, L.L.C.",219384,None,LA
82,Shreveport,Vigil Construction LLC,305587,None,LA
83,Baton Rouge,"VR&C, LLC",303865,None,LA
84,Denham Springs,"Welner's Construction, LLC",297583,None,LA
85,Lake Charles,You Call We Haul Services LLC,308699,None,LA

In [12]:
df.to_csv('contractors.csv')

## Chiropractors

We tried to do the work ourselves and broke all of our bones. Guess we need a chiropractor! Thank goodness there's [a list of them on the Louisiana chiropractor board site](http://www.lachiropracticboard.com/lic-drs.htm).

### Create a dataframe of all of the chiropractors' names `5 points`

I'll give you this for free: the HTML on that page is awful, so make sure you're using `html5lib` as your parser. Otherwise it's going to be a lot more difficult!

I'll also give you the option of doing this by **pulling the name lists from the page** and parsing them with regular expressions, it's up to you! It's a serious pain either way.

> Also: they broke the page when they updated it last, so you might want to scrape [the archive.org version](https://web.archive.org/web/20210112131408/http://www.lachiropracticboard.com/lic-drs.htm) instead

In [203]:
from bs4 import BeautifulSoup
import requests

result = requests.get('https://web.archive.org/web/20210112131408/http://www.lachiropracticboard.com/lic-drs.htm')
soup = BeautifulSoup(result.content, 'html5lib')
tables = soup.find_all('table')

In [204]:
# Get the names
rows = soup.findAll("td", {"width" : "80%"})[1].findAll("td", {"width" : "64%"})

list = []

for item in rows:
    names = item.findAll('p')
    for name in names:
        list.append(name.text)

In [205]:
# Remove items matching some terms
trash = ['\xa0','Return To Search List','Doctors of Chiropractic']
names = [ name for name in list[3:-1] if name not in trash ]

In [206]:
# Remove items containing some terms
names = [word for word in names if not any(bad in word for bad in trash)]

In [207]:
# Clean the names
names = [re.sub(r'\n|D.\s?C.\s?|\s\s| \. | III,| \. ', '', i) for i in names]
names = [name.strip(' ') for name in names]

In [208]:
names = [name.replace(" , ", "") for name in names]

In [209]:
# Remove empty items
names = [name for name in names if name]

In [210]:
df_chiro = pd.DataFrame(names,columns=['FullName'])

df_chiro

                        FullName
0              ABSHIRE,Jean-Paul
1               ABSHIRE,Rowdy C.
2          ACCARDO,Casey Patrick
3             ALLEN,Peggy Alayna
4    ALLIGOOD, Jr.,Manfred Duval
..                           ...
759               ZAHN,Robert L.
760          ZAKREWSKI,Edward W.
761             ZEAGLER,Jon Eric
762                  ZHANG,Yuwei
763          ZUPPARDO,Anthony L.

[764 rows x 1 columns]

### Add columns for their names: first, last, middle `1 point`

In [227]:
df_chiro['FullNameClean'] = [name.replace("Jr. ,", "") for name in df_chiro['FullName']]
df_chiro['FullNameClean'] = [name.replace(" Jr.,", "") for name in df_chiro['FullNameClean']]
df_chiro['FullNameClean'] = [name.replace(" . ", "") for name in df_chiro['FullNameClean']]
# df_chiro['FullNameClean'] = [name.replace(". ", "") for name in df_chiro['FullNameClean']]
df_chiro['FullNameClean'] = [name.replace(", ", ",") for name in df_chiro['FullNameClean']]
df_chiro['FullNameClean'] = [name.replace(",,", ",") for name in df_chiro['FullNameClean']]

df_chiro.head(30)

,FullName,FullNameClean,LastName,FirstName,MiddleName
0,"ABSHIRE,Jean-Paul","ABSHIRE,Jean-Paul",ABSHIRE,Jean-Paul,NaN
1,"ABSHIRE,Rowdy C.","ABSHIRE,Rowdy C.",ABSHIRE,Rowdy,C.
2,"ACCARDO,Casey Patrick","ACCARDO,Casey Patrick",ACCARDO,Casey,Patrick
3,"ALLEN,Peggy Alayna","ALLEN,Peggy Alayna",ALLEN,Peggy,Alayna
4,"ALLIGOOD, Jr.,Manfred Duval","ALLIGOOD,Manfred Duval",ALLIGOOD,Manfred,Duval
5,"ANCAR,Kristin Patrice","ANCAR,Kristin Patrice",ANCAR,Kristin,Patrice
6,"ANDERSON, . Amy Allison","ANDERSON,Amy Allison",ANDERSON,Amy,Allison
7,"ANDRY,Derek J.","ANDRY,Derek J.",ANDRY,Derek,J.
8,"ANGELY,Timothy Wright","ANGELY,Timothy Wright",ANGELY,Timothy,Wright
9,"ANTHON, Jr.,George C.","ANTHON,George C.",ANTHON,George,C.
10,"ARCEMENT,Nicholas Joseph","ARCEMENT,Nicholas Joseph",ARCEMENT,Nicholas,Joseph
11,"ARCEMENT,Todd Nicholas","ARCEMENT,Todd Nicholas",ARCEMENT,Todd,Nicholas
12,"ARCENEAUX,James Bryson","ARCENEAUX,James Bryson",ARCENEAUX,James,Bryson
13,"ARCHER,Charles Henry, IV","ARCHER,Charles Henry,IV",ARCHER,Charles,Henry
14,"ARCHER,Joseph Robert","ARCHER,Joseph Robert",ARCHER,Joseph,Robert
15,"ARTON,Amy E.","ARTON,Amy E.",ARTON,Amy,E.
16,"ASCHENBECK,Krista Michelle","ASCHENBECK,Krista Michelle",ASCHENBECK,Krista,Michelle
17,"AUCOIN,Mark Stephen","AUCOIN,Mark Stephen",AUCOIN,Mark,Stephen
18,"AUCOIN,Vanessa J.","AUCOIN,Vanessa J.",AUCOIN,Vanessa,J.
19,"AURICH,Susan Elayne","AURICH,Susan Elayne",AURICH,Susan,Elayne
20,"BACON,Daniel","BACON,Daniel",BACON,Daniel,NaN
21,"BADON,Brittany Nicole","BADON,Brittany Nicole",BADON,Brittany,Nicole
22,"BAILEY,Bill Joe","BAILEY,Bill Joe",BAILEY,Bill,Joe
23,"BAILEY,EriK L.","BAILEY,EriK L.",BAILEY,EriK,L.
24,"BAILEY,Joshua G.","BAILEY,Joshua G.",BAILEY,Joshua,G.
25,"BAILEY,Reon Raymond","BAILEY,Reon Raymond",BAILEY,Reon,Raymond
26,"BAILLIE,Jeffrey A.","BAILLIE,Jeffrey A.",BAILLIE,Jeffrey,A.
27,"BALLIS,Louie Theodore","BALLIS,Louie Theodore",BALLIS,Louie,Theodore
28,"BARCZYK,David J.","BARCZYK,David J.",BARCZYK,David,J.
29,"BARNES,Mallory","BARNES,Mallory",BARNES,Mallory,NaN

In [228]:
fname = df_chiro['FullNameClean'].str.split(',')

df_chiro['LastName'] = fname.str[0]
df_chiro['FirstName'] = fname.str[1].str.split(' ').str[0]
df_chiro['MiddleName'] = fname.str[1].str.split(' ').str[1]

In [229]:
df_chiro.sample(30)

,FullName,FullNameClean,LastName,FirstName,MiddleName
17,"AUCOIN,Mark Stephen","AUCOIN,Mark Stephen",AUCOIN,Mark,Stephen
492,"MITCHELL,Ryan Joshua","MITCHELL,Ryan Joshua",MITCHELL,Ryan,Joshua
667,"STEFFINS,Daniel F.","STEFFINS,Daniel F.",STEFFINS,Daniel,F.
121,"CHAUVIN,Edward R.","CHAUVIN,Edward R.",CHAUVIN,Edward,R.
671,"STRATTON,Angelle","STRATTON,Angelle",STRATTON,Angelle,NaN
668,"STEINERT,Kent","STEINERT,Kent",STEINERT,Kent,NaN
82,"BROWER,Stephen C.","BROWER,Stephen C.",BROWER,Stephen,C.
81,"BROUSSARD,Andre A.","BROUSSARD,Andre A.",BROUSSARD,Andre,A.
637,"SHOEMAKER,James L.","SHOEMAKER,James L.",SHOEMAKER,James,L.
5,"ANCAR,Kristin Patrice","ANCAR,Kristin Patrice",ANCAR,Kristin,Patrice
377,"KEO,Melisa","KEO,Melisa",KEO,Melisa,NaN
227,"FERNANDEZ,H. Fred","FERNANDEZ,H. Fred",FERNANDEZ,H.,Fred
401,"LAUDUN,Matthew James","LAUDUN,Matthew James",LAUDUN,Matthew,James
706,"TRAXLER,Michael D.","TRAXLER,Michael D.",TRAXLER,Michael,D.
348,"IRWIN,JenniferAnn","IRWIN,JenniferAnn",IRWIN,JenniferAnn,NaN
713,"TURK,Joseph Edward, Jr.","TURK,Joseph Edward,Jr.",TURK,Joseph,Edward
119,"CHATELLIER,ArthurJohn","CHATELLIER,ArthurJohn",CHATELLIER,ArthurJohn,NaN
135,"CONNER,Joel H.","CONNER,Joel H.",CONNER,Joel,H.
156,"CUPP,Ree Ann","CUPP,Ree Ann",CUPP,Ree,Ann
362,"JOHNSTON,Paul F.","JOHNSTON,Paul F.",JOHNSTON,Paul,F.
391,"LABORDE,DonaldW.","LABORDE,DonaldW.",LABORDE,DonaldW.,NaN
656,"SMITH,Walter Edwards","SMITH,Walter Edwards",SMITH,Walter,Edwards
495,"MONCEAUX,Austin Greg","MONCEAUX,Austin Greg",MONCEAUX,Austin,Greg
524,"PALOMBO,Anthony J.","PALOMBO,Anthony J.",PALOMBO,Anthony,J.
616,"RUSSO,Ryan K.","RUSSO,Ryan K.",RUSSO,Ryan,K.
201,"DUFRENE, Jr.,Meril Joseph","DUFRENE,Meril Joseph",DUFRENE,Meril,Joseph
683,"TAYLOR,Conrad Martin","TAYLOR,Conrad Martin",TAYLOR,Conrad,Martin
155,"CUNNINGHAM,Tim E.","CUNNINGHAM,Tim E.",CUNNINGHAM,Tim,E.
543,"PICOU,Gregory","PICOU,Gregory",PICOU,Gregory,NaN
449,"MANNING,Richard Allen","MANNING,Richard Allen",MANNING,Richard,Allen